


body {
  background: #ececec;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  padding-top: 0px;
}
a {
  color: #00bdf2;
}
a:hover,
a:focus {
  color: #00a9d9;
}
.btn-primary {
  border: 1px solid #00bdf2;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 20px;
  line-height: 1;
  white-space: nowrap;
  background: white;
  font-size: 17px;
  color: #00bdf2;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -khtml-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  backface-visibility: hidden;
  visibility: visible;
}
.btn-primary:hover,
.btn-primary:focus {
  color: #fff;
  background-color: #00bdf2;
  border-color: #00a9d9;
  outline: 0;
}
.btn-primary:after {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  position: absolute;
  content: '';
  display: block;
  left: -2px;
  top: -2px;
  border: 2px solid transparent;
  opacity: 1;
  z-index: 1;
}
.btn-default {
  border: 1px solid white;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 20px;
  line-height: 1;
  white-space: nowrap;
  background: transparent;
  font-size: 17px;
  color: white;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -khtml-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  backface-visibility: hidden;
  visibility: visible;
}
.btn-default:hover,
.btn-default:focus {
  color: #fff;
  background-color: #00bdf2;
  border-color: #00a9d9;
  outline: 0;
}
.btn-default:after {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  position: absolute;
  content: '';
  display: block;
  left: -2px;
  top: -2px;
  border: 2px solid transparent;
  opacity: 1;
  z-index: 1;
}
.btn-nav {
  border: 2px solid #111111;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 20px;
  line-height: 1;
  white-space: nowrap;
  background: white;
  font-size: 17px;
  color: #111111;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -khtml-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  backface-visibility: hidden;
  visibility: visible;
}
.btn-nav:hover,
.btn-nav:focus {
  color: #fff;
  background-color: #00bdf2;
  border-color: #00a9d9;
  outline: 0;
}
.btn-nav:after {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  position: absolute;
  content: '';
  display: block;
  left: -2px;
  top: -2px;
  border: 2px solid transparent;
  opacity: 1;
  z-index: 1;
}
.btn-nav.active {
  border: 2px solid #00bdf2;
  color: #00bdf2;
}
.btn-navigation li {
  float: left;
  margin-right: 10px;
}
.btn-navigation li:before {
  content: '';
  position: relative;
  left: 0;
}



/* HEADER */
.header-info {
  position: absolute;   
  z-index: 10;
  width: 100%;
  top: 0;
  background: #ececec;
}




.header-info .search ::-webkit-input-placeholder {
 
  text-align: center;
}
.header-info .search ::-moz-placeholder {
 text-align: center;
}
.header-info .search :-moz-placeholder {
 text-align: center;
}
.header-info .search :-ms-input-placeholder {
 text-align: center;
}

.level1 {
  background: #342e5b;
  padding-top: 13px;
  padding-bottom: 13px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
}
.level1 > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.level1 .navbar {
  padding: 0 15px 0 0;
}
.level1 .mainmenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.level1 .mainmenu ul li {
  float: left;
  padding: 3px 10px;
}
.level1 .mainmenu ul li:before {
  content: '';
}
.level1 .mainmenu ul li a {
  color: #ffffff;
  border-bottom: 1px solid #00bdf2;
  font-weight: 500;
  font-size: 15px;
}
.level1 .mainmenu ul li a:hover,
.level1 .mainmenu ul li a:focus {
  text-decoration: none;
  border-bottom: 1px solid #00bdf2;
  color: #00bdf2;
}
.level1 .mainmenu ul li.active a {
  text-decoration: none;
  border-bottom: 0;
  background: #00bdf2;
}
.level1 .mainmenu ul li.active a:hover,
.level1 .mainmenu ul li.active a:focus {
  color: white;
}
.level1 .lang {
  position: absolute;
  right: 10px;
  top: 2px;
  z-index: 3;
}
.level1 .lang .btn{
  background-color: transparent;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.0;
  padding: 0.5rem 0.5rem;
}
.level1 .lang .dropdown-menu {
  background-color: #342e5b;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  min-width: unset;
}
.level1 .lang .dropdown-item{
  color: #00bdf2;
}
.level1 .lang ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.level1 .lang ul li {
  float: left;
  padding: 3px 10px;
  height: 3rem;
}
.level1 .navbar-toggler{
  height: 3rem;
}
.level1 .lang ul li:before {
  content: '';
}
.level1 .lang ul li a {
  color: #d1d0d7;
  border-bottom: 1px solid #666;
  font-size: 11px;
  text-transform: uppercase;
}
.level1 .lang ul li a:hover,
.level1 .lang ul li a:focus {
  text-decoration: none;
  border-bottom: 1px solid #00bdf2;
  color: #00bdf2;
}
.level2 .submenu {
  display: inline-block;
  background: #f1f1f1;
  padding-top: 9px;
  padding-bottom: 9px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}
.level2 .submenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.level2 .submenu ul li {
  float: left;
  padding: 3px 10px;
}
.level2 .submenu ul li:before {
  content: '';
}
.level2 .submenu ul li a {
  color: #111;
  border-bottom: 1px solid #333;
  font-weight: 500;
  font-size: 15px;
}
.level2 .submenu ul li a:hover,
.level2 .submenu ul li a:focus {
  text-decoration: none;
  border-bottom: 1px solid #00bdf2;
  color: #00bdf2;
}
.level2 .submenu ul li.active a {
  text-decoration: none;
  border-bottom: 0;
  background: #00bdf2;
  color: white;
}
.level2 .submenu ul li.active a:hover,
.level2 .submenu ul li.active a:focus {
  color: white;
}
#header .level1 {
  background: transparent;
  box-shadow: none;
}
/* FOOTER */
#footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 10;
}
.footer {
  background: #f6f6f6;
  padding-top: 45px;
  padding-bottom: 20px;
}
.footer > .container > .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .copyright {
  line-height: 1.2;
  font-size: 16px;
}
.footer .social ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .social ul li {
  float: left;
  padding: 5px;
}
.footer .social ul li:before {
  content: '';
}
.footer .social ul li img:hover {
  opacity: 0.8;
}
.footer .search {
  position: relative;
  /* Firefox 19+ */
  /* Firefox 18- */
}
.footer .search label {
  position: absolute;
  left: 32px;
  top: 5px;
}

.footer .search #search-input {
  padding-left: 43px;
  padding-right: 43px;
  border-radius: 23px;
}
.footer .search #search-clear {
  text-decoration: none;
  position: absolute;
  right: 28px;
  top: 11px;
  color: #b3b3b3;
}
textarea::placeholder {
     text-align: center;
}
.footer .search ::-webkit-input-placeholder {
  color: #ffffff;
  text-align: center;
}
.footer .search ::-moz-placeholder {
  color: #ffffff; text-align: center;
}
.footer .search :-moz-placeholder {
  color: #ffffff; text-align: center;
}
.footer .search :-ms-input-placeholder {
  color: #ffffff; text-align: center;
}
.footer .site-info {
  font-size: 13px;
  color: #b7b7b7;
  padding-top: 15px;
}
#footer.footer {
  color: white;
  background: transparent;
  padding-top: 0;
  padding-bottom: 0;
}
#footer.footer .copyright {
  font-size: 13px;
}
#footer.footer .social ul {
  display: none;
}
#footer.footer .site-info {
  padding-top: 0;
  font-size: 11px;
}
#footer .search label {
    left: 30px;
    position: absolute;
    top: 3px;
}

#footer.footer .search .form-control, #footer.footer .btn{
  color: #fff;
  background-color: transparent;
  background-image: none;
  border: 1px solid rgba(255, 255, 255, 0.6);
  font-weight: 300;
  line-height: 1;
  font-size: 1rem;

}
#footer.footer .btn {
  padding: 0.5rem 1rem;
}
#footer.footer .search .form-control:focus {
  border-color: #00bdf2;
}

#footer.footer .btn:hover{
  color: #00bdf2;
  border: 1px solid #00bdf2;
}

#footer.footer .invisible {
  height: 5px;
}


/* Allow for input prepend/append in search forms */

.form-search .input-append .search-query,
.form-search .input-prepend .search-query {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.form-search .input-append .search-query {
  -webkit-border-radius: 14px 0 0 14px;
     -moz-border-radius: 14px 0 0 14px;
          border-radius: 14px 0 0 14px;
}

.form-search .input-append .btn {
  -webkit-border-radius: 0 14px 14px 0;
     -moz-border-radius: 0 14px 14px 0;
          border-radius: 0 14px 14px 0;
}

.form-search .input-prepend .search-query {
  -webkit-border-radius: 0 14px 14px 0;
     -moz-border-radius: 0 14px 14px 0;
          border-radius: 0 14px 14px 0;
}

.form-search .input-prepend .btn {
  -webkit-border-radius: 14px 0 0 14px;
     -moz-border-radius: 14px 0 0 14px;
          border-radius: 14px 0 0 14px;
}

/* TYPOGRAPHY */
.container.page {
  padding-bottom: 4rem;
}
.breadcrumb {
  padding: .75rem 0;
  margin-bottom: 0;
  list-style: none;
  background-color: transparent;
  border-radius: 0;
  font-size: 14px;
}
.page-header hr {
  margin-top: 0;
  margin-bottom: 10px;
  border: 0;
  border-top: 3px solid #000000;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #111111;
  line-height: 1.3;
}
.h1,
h1 {
  font-size: 48px;
  margin-bottom: 30px;
}
.h2,
h2 {
  font-size: 36px;
}
.h3,
h3 {
  font-size: 30px;
}
.h4,
h4 {
  font-size: 26px;
  font-weight: bold;
}
.h5,
h5 {
  font-size: 24px;
  font-weight: bold;
}
.h6,
h6 {
  font-size: 18px;
  font-weight: bold;
}
.table td {
  border-top: 1px solid #00bdf2;
}
.table th {
  border-top: 0;
}
.table thead th {
  color: #00bdf2;
  border-bottom: 2px solid #00bdf2;
}
ul li {
  list-style-type: none;
  position: relative;
}
ul li:before {
  content: '–';
  color: #00bdf2;
  position: absolute;
  left: -20px;
  font-weight: bold;
}
ul.pagination li:before {
  content: '';
}
ol li {
  font-weight: 500;
  color: #00bdf2;
}
ol li span {
  color: #333333;
  font-weight: 300;
}
.well {
  background: #dbf6fd;
}
.well .text-block {
  padding: 20px;
}
.large-image-block .inner-block {
  position: relative;
}
.large-image-block .inner-block .caption {
  position: absolute;
  top: 30px;
  left: 30px;
  color: #ffffff;
  font-size: 19px;
  max-width: 800px;
}
.text-block {
  padding: 10px 20px 20px 20px;
  /*font-size: 14px;*/
}
.text-block .fio {
  color: #00bdf2;
  font-size: 15px;
}
blockquote {
  border-left: 0;
  font-size: 21px;
  position: relative;
  padding: 0;
  margin-bottom: 30px;
}
blockquote :before {
  content: '«';
  position: absolute;
  color: #00bdf2;
  left: -50px;
  font-size: 80px;
  line-height: 1;
  font-weight: 400;
  top: -35px;
}
blockquote p {
  margin-bottom: 0;
  line-height: 28px;
  font-weight: 300;
}
.person {
  font-size: 24px;
  margin-bottom: 30px;
}
.person .fio {
  text-transform: uppercase;
}
.large-quote {
  padding-top: 30px;
  padding-bottom: 30px;
}
.large-quote .text-block {
  padding: 10px 20px 20px 40px;
}
.blockquote {
  border-left: 0;
  font-size: 21px;
  position: relative;
  padding: .5rem 1rem;
}
.blockquote p {
  margin-bottom: 0;
  line-height: 28px;
}
.file-block {
  position: relative;
  padding-left: 80px;
}
.file-block:before {
  content: '';
  position: absolute;
  left: 5px;
  background: url("../img/ico-file.png") no-repeat;
  width: 52px;
  height: 67px;
}
.file-info {
  color: #999999;
  font-size: 14px;
  padding-top: 5px;
}
.text-star {
  padding-left: 23px;
  position: relative;
  color: #00bdf2;
  font-size: 13px;
}
.text-star:before {
  color: #00bdf2;
  font-size: 20px;
  content: '*';
  position: absolute;
  left: 7px;
  top: 0;
  line-height: 1;
}
.form-control:focus {
  border-color: #00bdf2;
}
/* CAROUSEL */
.carousel {
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
}
.carousel-control {
  left: -12px;
  height: 76px;
  width: 27px;
  background-image: none;
  border: 0;
  border-radius: 0;
  margin-top: -53px;
  top: 50%;
}
.carousel-control.left {
  background-image: none;
}
.carousel-control.right {
  right: -12px;
  background-image: none;
}
.carousel-indicators {
  right: 50%;
  top: auto;
  bottom: -20px;
  margin-right: -19px;
}
.carousel-indicators li {
  background: #cecece;
}
.carousel-indicators .active {
  background: #00bdf2;
}
/* NEWS */
.calendar-month {
  background: #efeff1;
  padding: 20px;
}
.calendar-month .calendar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.calendar-month .calendar-title a {
  color: #111111;
}
.calendar-month .calendar-title a:hover {
  color: #00bdf2;
}
.calendar-month table {
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 3;
}
.calendar-month table th {
  text-align: center;
  font-size: 16px;
  padding: 15px 0;
  font-weight: bold;
}
.calendar-month table td {
  padding: 3px;
  font-size: 16px;
  font-weight: 400;
}
.calendar-month table td span,
.calendar-month table td a {
  width: 31px;
  height: 31px;
  display: inline-block;
  text-align: center;
  line-height: 31px;
  border: none;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -khtml-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
.calendar-month table td a {
  background: #dfdfe2;
}
.calendar-month table td a:hover {
  color: #fff;
  background: #33a2dc;
  text-decoration: none;
}
.calendar-month table td.NewsCalToday span,
.calendar-month table td.NewsCalToday a {
  background: #00bdf2;
  color: white;
}
.calendar-month table td.NewsCalOtherMonth {
  color: #999999;
}
.anons {
  padding-bottom: 40px;
  border-bottom: 4px solid #eee;
  margin-bottom: 40px;
}
.anons .media-left {
  max-width: 300px;
  float: left;
  padding-right: 20px;
}
.anons .date-block {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #222;
}
.news h2 {
  margin-bottom: 40px;
}
.news .card {
  border-radius: 0;
  border: 0;
}
.news .card .date {
  font-size: 17px;
}
/* PAGINATION */
.pagination-block {
  text-align: center;
}
.page-link {
  position: relative;
  float: left;
  padding: 8px 18px;
  margin-left: 0;
  color: #00bdf2;
  text-decoration: none;
  background-color: #fff;
  border: 0;
}
.page-link:hover {
  text-decoration: none;
}
.page-item.active .page-link,
.page-item.active .page-link:focus,
.page-item.active .page-link:hover {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #00bdf2;
  border-color: #00bdf2;
}
/* CALL TO ACTION */
.call-to-action {
  background: #ececec;
}
.call-to-action h4 {
  margin-top: 30px;
}
.call-to-action .agent-name {
  margin-top: 20px;
  margin-bottom: 20px;
}
.call-to-action .position {
  font-size: 13px;
}
.call-to-action .btn-primary {
  margin-bottom: 20px;
}
.project ul {
  margin: 0;
  padding: 0;
}
.project ul li:before {
  content: '';
}
.project .project-item {
  margin-bottom: 40px;
}
.project .project-item:last-child {
  margin-bottom: 0;
}
.project .project-item dt {
  float: left;
  font-weight: 700;
  margin-right: 5px;
  color: #111;
}
.project .project-item dd {
  margin-bottom: 3px;
}
.project .project-item h4 {
  margin-bottom: 30px;
}
.project .project-item .project-desc {
  font-size: 15px;
}
.analytics ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.analytics ul li {
  max-width: 45%;
  margin-bottom: 40px;
}
.analytics ul li:before {
  content: '';
}
.contacts-info {
  padding-top: 40px;
}
.contacts-info .well {
  padding: 20px;
  background: #f1f1f1;
}

@media (max-width: 575px) {
  body {
    padding-top: 0;
  }
  .header-info {
    position: relative;
  }
  .navbar {
    padding: .5rem 0;
  }
  .level1 .mainmenu ul li {
    float: none;
  }
  .level1 > .container {
    display: block;
  }
  .level1 .logo img {
    max-width: 60%;
    margin-bottom: 10px;
    float: left;
  }
  .level1 .navbar-dark{
    float: left;
    margin-left: 30px;
  }

  .level2 .submenu ul li {
    float: none;
  }
  .breadcrumb-item {
    float: none;
  }
  .anons .media-body {
    padding-top: 15px;
  }
  .calendar-month {
    margin-top: 20px;
  }
  .call-to-action {
    padding-bottom: 40px;
  }
  .h1,
  h1 {
    font-size: 35px;
  }
  .h2,
  h2 {
    font-size: 30px;
  }
  .h3,
  h3 {
    font-size: 27px;
  }
  .h4,
  h4 {
    font-size: 24px;
  }
  .h5,
  h5 {
    font-size: 21px;
  }
  .project .project-item .project-desc {
    padding-top: 15px;
  }
  .large-image-block .inner-block .caption {
    display: none;
  }
  .blockquote:before {
    position: relative;
    left: 0;
  }
  .footer > .container > .row {
    display: block;
  }
  .footer .social ul {
    display: inline-block;
  }
  .invisible {
    display: none;
  }
  .analytics img {
    margin-bottom: 15px;
  }
  .analytics ul li {
    max-width: 100%;
    margin-bottom: 40px;
  }
  .contacts-info .well {
    margin-top: 20px;
  }
  .level1 .navbar-dark{
    margin-left: 10px;
  }
  .calendar-month {
  padding: 0;
  }
}

@media  (max-width: 767px) {
  .level1 .lang {
    position: relative;
    margin-left: 10px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  body {
    padding-top: 0;
  }
  .header-info {
    position: relative;
  }
  .level1 .logo img {
    max-width: 100%;
    margin-bottom: 10px;
    float: left;
  }
  .level1 .navbar-dark{
    float: left;
    margin-left: 10px;
  }
  .navbar {
    padding: .5rem 0;
  }
  .level1 .mainmenu ul li {
    float: none;
  }
  .level1 > .container {
    display: block;
  }
  .level1 .logo img {
    max-width: 100%;
    margin-bottom: 10px;
  }
  .level1 .navbar-toggler{
    margin-left: 50px;
  }
  /*
  .level1 .lang {
    position: relative;
  }*/
  .level2 .submenu ul li {
    float: none;
  }
  .breadcrumb-item {
    float: none;
  }
  .anons .media-body {
    padding-top: 15px;
  }
  .calendar-month {
    margin-top: 20px;
  }
  .h1,
  h1 {
    font-size: 35px;
  }
  .h2,
  h2 {
    font-size: 30px;
  }
  .h3,
  h3 {
    font-size: 27px;
  }
  .h4,
  h4 {
    font-size: 24px;
  }
  .h5,
  h5 {
    font-size: 21px;
  }
  .large-image-block .inner-block .caption {
    display: none;
  }
  .project .project-item .project-desc {
    padding-top: 15px;
  }
  .blockquote:before {
    position: relative;
    left: 0;
  }
  .footer > .container > .row {
    display: block;
  }
  .footer .social ul {
    display: inline-block;
  }
  .invisible {
    display: none;
  }
  .analytics img {
    margin-bottom: 15px;
  }
  .analytics ul li {
    max-width: 100%;
    margin-bottom: 40px;
  }
  .contacts-info .well {
    margin-top: 20px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body {
    padding-top: 225px;
  }
  .calendar-month {
    margin-top: 20px;
  }
  .analytics img {
    margin-bottom: 15px;
  }
}
.unstyled-list li:before{
  content: '';
}
.unstyled-list li.active a{
  color: #fff;
}

.panel-title a::before {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-left: .3em solid transparent;
}

/* indicator block */
.indicator-img{
  width: 25%;
  display: inline-block;
  float: left;
}
.wicon{
  width: 74%;
}

.indicator-content{
  display: inline-block;
  padding-left: 20px;
  line-height: 1.3;
}
.indicator-content strong{
  font-size: 22px;
  color: #00bdf2;
}

.indicator-content .description{
  font-size: 16px;
}
.indicator-title h3{
  border-top: solid;
  border-width: 1px;
  border-color: #000;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  .search-wrapper {
  position: relative;
    
    input {
      padding: 4px 12px;
      color: rgba(0,0,0,.70);
      border: 1px solid rgba(0,0,0,.12);
      transition: .15s all ease-in-out;
      background: white;
      &:focus {
        outline: none;
        transform: scale(1.05);
        & + label  {
          font-size: 10px;
          transform: translateY(-24px) translateX(-12px);
        }
      }
      &::-webkit-input-placeholder {
          font-size: 12px;
          color: rgba(0,0,0,.50);
          font-weight: 100;
		  text-align:center;
      }
    }
  }

  .wrapper {
    display: flex;
    max-width: 444px;
    flex-wrap: wrap;
    padding-top: 12px;
  }